<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="homeexp.css" rel="stylesheet">

    <title>Gametree</title>
</head>
<body class="text-center bg-light">

    <h1>Access Denied</h1>
    <p>Either your password was wrong or on registration your user name is already taken, try again <a
            href="/login"> at login / registration. </a></p>
    <img src="no.png">
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Project by Ahmed, Tim "GB", Travis</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>
