<html xmlns:th="http://www.thymeleaf.org"><html lang="en">
<head>
    <meta>
    <title>Leaderboard</title>
</head>
<body>
<div id="main">
    <h1>GameTree</h1>
    <h2>Leaderboard</h2>
</div>
<div id="frame">
    <table>
        <tr><td><a id="Play" href="">Play</a></td></tr>
        </tr> <td><a id="Leaderboard" href="">Leaderboards</a></td></tr>

    </table>
</div>

<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
            <th>Total Completed Games</th>
        </tr>
        <tr th:each="users : ${users}">
            <td th:text="${users.name}"></td>
            <td th:text="${users.wins}"></td>
            <td th:text="${users.losses}"></td>
            <td th:text="${users.ties}"></td>
            <td th:text="(${users.wins} + ${users.losses} + ${users.ties})"></td>
            <td th:text="${users.wins} div (${users.wins} + ${users.losses} + ${users.ties})"></td>

        </tr>
    </table>
</div>

</body>
</html>