<html xmlns:th="http://www.thymeleaf.org">
    <h1>Logged In</h1>
    <p>
        Logged in as <i th:text="${login}" />
    </p>
    <p>
        <a href="/">home</a>
    </p>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
        </tr>
        <tr th:each="users : ${users}">
            <td th:text="${users.login}"></td>
            <td th:text="${users.wins}"></td>
            <td th:text="${users.losses}"></td>
            <td>Ties will go here</td>
        </tr>
    </table>
</html>