<html xmlns:th="http://www.thymeleaf.org">

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/cover.css" rel="stylesheet">

    <title>Gamtree</title>
</head>
<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h1 class="masthead-brand">GameTree</h1>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link active" href="#">Play</a>
                <a class="nav-link" href="#">Leaderboard</a>
                <a class="nav-link" href="#">Logout</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <table id = table>
            <tr>
                <td id="c1r6"><img src="../static/connectone.png"></td>
                <td id="c2r6"><img src="../static/connectone.png"></td>
                <td id="c3r6"><img src="../static/connectone.png"></td>
                <td id="c4r6"><img src="../static/connectone.png"></td>
                <td id="c5r6"><img src="../static/connectone.png"></td>
                <td id="c6r6"><img src="../static/connectone.png"></td>
                <td id="c7r6"><img src="../static/connectone.png"></td>
            </tr>
            <tr>
                <td id="c1r5"><img src="../static/connectone.png"></td>
                <td id="c2r5"><img src="../static/connectone.png"></td>
                <td id="c3r5"><img src="../static/connectone.png"></td>
                <td id="c4r5"><img src="../static/connectone.png"></td>
                <td id="c5r5"><img src="../static/connectone.png"></td>
                <td id="c6r5"><img src="../static/connectone.png"></td>
                <td id="c7r5"><img src="../static/connectone.png"></td>
            </tr>
            <tr>
                <td id="c1r4"><img src="../static/connectone.png"></td>
                <td id="c2r4"><img src="../static/connectone.png"></td>
                <td id="c3r4"><img src="../static/connectone.png"></td>
                <td id="c4r4"><img src="../static/connectone.png"></td>
                <td id="c5r4"><img src="../static/connectone.png"></td>
                <td id="c6r4"><img src="../static/connectone.png"></td>
                <td id="c7r4"><img src="../static/connectone.png"></td>
            </tr>
            <tr>
                <td id="c1r3"><img src="../static/connectone.png"></td>
                <td id="c2r3"><img src="../static/connectone.png"></td>
                <td id="c3r3"><img src="../static/connectone.png"></td>
                <td id="c4r3"><img src="../static/connectone.png"></td>
                <td id="c5r3"><img src="../static/connectone.png"></td>
                <td id="c6r3"><img src="../static/connectone.png"></td>
                <td id="c7r3"><img src="../static/connectone.png"></td>
            </tr>
            <tr>
                <td id="c1r2"><img src="../static/connectone.png"></td>
                <td id="c2r2"><img src="../static/connectone.png"></td>
                <td id="c3r2"><img src="../static/connectone.png"></td>
                <td id="c4r2"><img src="../static/connectone.png"></td>
                <td id="c5r2"><img src="../static/connectone.png"></td>
                <td id="c6r2"><img src="../static/connectone.png"></td>
                <td id="c7r2"><img src="../static/connectone.png"></td>
            </tr>
            <tr>
                <td id="c1r1"><img src="../static/connectone.png"></td>
                <td id="c2r1"><img src="../static/connectone.png"></td>
                <td id="c3r1"><img src="../static/connectone.png"></td>
                <td id="c4r1"><img src="../static/connectone.png"></td>
                <td id="c5r1"><img src="../static/connectone.png"></td>
                <td id="c6r1"><img src="../static/connectone.png"></td>
                <td id="c7r1"><img src="connectone.png"></td>
            </tr>
        </table>

    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Project by Ahmed, GB, Travis</p>
        </div>
    </footer>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">

var gameArray = [[${gameArray}]];
var table = document.getElementById("table");
table.addEventListener("click", tableclicked);

function tableclicked(event) {
  let id = event.target.id;
  let column = id.charAt(1) - 1;
  console.log(column);

  $.ajax('http://localhost:8080/play?' + $.param({column: column}), {
    method: 'POST',
    data: {
        column: column
    }
}).then(
    window.location.href="http://localhost:8080/play");

}

function drawboard(board) {
  // board is a [6][7] array of integers.
  for (let row = 0; row < 6; row++) {
    for (let column = 0; column < 7; column++) {
      let string = "c" + (column + 1) + "r" + (row + 1);

      let newtd = document.getElementById(string);

      if (board[row][column] === 1) {
        newtd.style.backgroundColor="red";
      } else if (board[row][column] === -1) {
        newtd.style.backgroundColor="yellow";
      }
    }
  }
}

drawboard(gameArray)
</script>
</html>